{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <h1>My Todo List</h1>

    <!--Credentials for admin section-->
    <!--Username: Promise -->
    <!--Password: Assignment-->

    <!-- Form to add a new todo task to the list -->

    <form class="add-form" action="{% url 'todo:add_todo' %}" method="post">
      {% csrf_token %}
      <input type="text" name="text" placeholder="Add a new task..." required />
      <input
        type="text"
        name="description"
        placeholder="Add a description..."
        required
      />
      <button type="submit">Add</button>
    </form>

    <!-- List of existing todos added-->

    <ul class="todo-list">
      {% for todo in todos %}
      <li class="todo-item {% if todo.completed %} completed {% endif %}">
        <span>{{ todo.title }}</span>
        <span>{{ todo.description }}</span>
        <div class="actions">
          <!-- Toggle complete/incomplete button -->

          <a href="{% url 'todo:toggle_todo' todo.id %}" class="toggle-btn">
            {% if todo.completed %}Pending{% else %}completed{% endif %}
          </a>

          <form
            action="{% url 'todo:edit_todo' todo.id %}"
            method="post"
            style="display: inline"
            ;
          >
            {% csrf_token %}
            <input type="text" name="text" value="{{ todo.title }}" hidden />
          </form>

          <!-- Delete from the form-->

          <a href="{% url 'todo:delete_todo' todo.id %}" class="delete-btn"
            >Delete</a
          >
        </div>
      </li>
      {% empty %}
      <li class="todo-item">No to-do items yet.</li>
      {% endfor %}
    </ul>
  </body>
</html>
